.signdiv {
  /*color: var(--bs-yellow);*/
  background-color: var(--bs-yellow);
  border-radius: 20px;
  width: 45vw;
  height: 45vh;
  /*padding-top: 20px;*/
  margin-top: 20px;
  border-color: black;
  border-width: 20px;
  border-style: solid;
}

a {
  width: fit-content;
  height: fit-content;
}

.align {
  width: auto;
  height: auto;
}

.text {
  color: #000000;
}

