html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Verdana', sans-serif;
  background-position: center top;
  background-image: url('https://abload.de/img/bgvskt1.jpg');
  background-size: cover;
  margin: 0;
  color: rgb(70, 70, 70);
}

a {
  color: darkmagenta;
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
  
.description {
  max-width: 100vw;
  padding: 30px;
  text-align: center;
}

.video-gallery {
  max-width: 100vw;
  width: 100%;
  align-items: center;
  display: block;
}
  
  
  .thumbnail {
    max-width: 100vw;
    width: 400px;
    height: 300px;
    margin: 10px;
  }
  
.row1{
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row2{
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* FOOTER NAVIGATION */

.link{
    max-width: 100vw;
    color:rgb(0, 0, 0);
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar{
    max-width: 100vw;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}